/* basic.css */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {font-family: Ubuntu, 'Nanum Gothic', sans-serif;
    background:#E2E2E2;
    background-image: url('/images/img1_converted.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

a {cursor:pointer;}

ul {padding-left:0px;}
/*li {list-style-type: none;}*/
p {font-size: inherit;}
h1, h2, h3, h4, h5, h6 {font-weight: 500; font-family: inherit;}

.vert-center {position:relative; display: inline-block; bottom:0; }

.text-center {text-align: center;}

.search {width:300px; }
.nav{z-index: 10000;
     position:top;}

.padding0 {padding:0;}
.padding5 {padding:5px;}
.padding10 {padding:10px;}
.padding15 {padding:15px;}

.margin0 {margin:0;}
.margin30 {margin:30;}
.margin100 {margin:100;}


.heightauto {height:auto;}
.height20 {height:20px;}
.height70 {height:70px;}
.height90 {height:90px;}

.blank-10 {margin-top:10px;}
.blank20 {margin-top:20px;}

.width200{width:200px;}
.minwidth50{min-width:50px;}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.modal-back { width:100%; height:100%; position:fixed; top:0; left:0; z-index:1000;}
.modal-back-dark {background-color: rgba(0,0,0,0.1); width:100%; height:100%; position:fixed; top:0; left:0;z-index:10000;}
.modal-alert {width:450px; margin:auto; z-index:10001;}

.screen-center {position:fixed; top:50%; left:50%; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);}

.divider-vertical {
height: 50px;
margin: 0 9px;

border-left: 1px solid #5E5E5E;
}

ul.footer li{
  color:#333;
  display:inline-block;
  text-align: center;
}

#footer{
  padding-left:30px;
  padding-right:30px;
  padding-top:30px;
}

