
*,
*:after,
*:before { box-sizing: border-box; }

.tabs {
  list-style: none;
  background: #282828;
  position: relative;
  padding: 0 25px;
  color: #fff;
}

.tabs:after {
  content: '';
  width: 100%;
  height: 5px;
  background: #282828;
  position: absolute;
  z-index: 5;
  bottom: -5px;
  left: 0;
  border-top: 1px solid #282828;
}

.tab {
  display: inline-block;
  width: 175px;
  height: 26px;
  background: #494949;
  padding: 5px 10px;
  position: relative;
  border-top: 1px solid #282828;
  margin-right: 6px;
  font-size: 0;
}

.tab > span {
  font-size: 12px;
}

.tab:before,
.tab:after {
  content: '';
  width: 8px;
  height: 27px;
  background: #494949;
  position: absolute;
  top: 0;
  border-radius: 4px 4px 0 0;
}

.tab:before {
  left: -5px;
  border-left: 1px solid #494949;
  z-index: 3;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.tab:after {
  right: -5px;
  border-right: 1px solid #111;
  z-index: 4;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.tab.active {
  background: #222;
  border-bottom: 1px solid #222;
  height: 27px;
  margin-bottom: -1px;
  z-index: 10;
  color: #fff;
}

.tab.active:before,
.tab.active:after { background: #222; }

.tab span{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  white-space: nowrap;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 13px;
  line-height: 0;
  width: 16px;
  height: 16px;
  color: #fff;
  text-shadow: 0 1px 0 #FFF;
  opacity: .2;
  filter: alpha(opacity=20);
  border-radius: 16px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  filter: alpha(opacity=50);
  background: red;
  font-weight: normal;
  text-shadow: none;
}

.tab-content { }

.tab-pane {
  width: 100%;
  height: 100%;
  display: none;
  margin-right: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tab-pane.active { display: block; }

canvas {
  display: inline;
}

.picName {
  color : white;
  margin-top: 20px;
}