body {
	background-color: #282828 !important;
}
#displayer {
	border:2px solid #5b5;
	background-color: #fff;
    display: block;
}
.device_wrapper {
	margin-top: 20px;
	margin-left: 20px;
}
.margin100 {margin:100;}