/* projectmain.css */
.thumbnail a {color:#444;}

.app-icon {width:100%; display: inline-block;}
.app-icon img {width: 100%;}

.app-descript {min-height: 4em; max-height: 5em;}
.app-function {text-align: right;}

.profile-pic {
  margin-top: 40px;
  max-width: 200px;
  max-height: : 300px;
}

.profile-pro {
  margin-top: 40px;
}

.project-list {
  margin-top: 40px;
}

.setting_btn {
  color: white;
  width: 30%;
  background-color: #B0E5A6;
  border-radius: 5px;
  border: #94C38D solid 1px;
  font-size: 1.3em;
}

.project-name {
  margin-top: 5px;
  height: 30px;
}

.project-image {
  max-width: 120px;
}
.block {
  cursor:pointer;
}
.txt {
  word-wrap:break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}