body {
	background-color: #282828 !important;
	scrollbar-base-color: rgba(20, 28, 36, 0);
	scrollbar-3dlight-color: rgba(40, 56, 72, 0);
	scrollbar-highlight-color: rgba(40, 56, 72, 0);
	scrollbar-track-color: rgba(40, 56, 72, 0);
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: rgba(40, 56, 72, 0);
	scrollbar-dark-shadow-color: rgba(40, 56, 72, 0);
}

.tree_wrap {
	background-color:#2C3E50 !important; 
	border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-bottom: solid 1px #FFF;
	border-right: solid 1px #FFF;
	background: #FFF;
	overflow: scroll;
	padding: 0px;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

#playbtn {cursor: pointer;}
#favoratebtn {cursor: pointer;}
#cancel-favoratebtn {cursor: pointer;}