/** projectmain.css **/
body {background:#E2E2E2 url('/images/img1_converted.jpg') no-repeat top;}

.project-block {height:100px; padding:10px; background-color: blanchedalmond}

#setting {margin:170px 0;}

.container-setting{
    margin-top: 200px;    
   margin-left: 42%;  
    width: 6em
}


hr {
width: 100%;
height: 1px;
text-align:left;

background-color:#C0EAB8;

}

.setting-text{
    color: darkcyan;
}

.close {
	background: #000;
	color: #000;
	line-height: 25px;
	position: relative;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #B0E5A6; }



.setting_btn {
    color: white;  
    background-color: #B0E5A6; 
    border-radius: 5px; 
    border:#94C38D solid 1px; 
    font-size: 1.3em;
}

