/* welcome.css */
.screen-center {position:fixed; top:50%; left:50%; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);}
.main-container {background-color:#fff;}

.login-table {width: 100%;}
.login-table tr td {padding:5px 5px 0 0;}

.login-btn {color: white; width:100%; background-color: #B0E5A6; border-radius: 5px; border:#94C38D solid 1px; font-size: 1.3em;}