//Common footer is created by VODEK.
// include Creater, link for specific license policy
#footer.container-fluid
  .row
    .col-xs-12.text-center
      p  
        | Website built by <i><b>VODEK</b></i> <sub><i>Kim Mingyu, Park Jehyun, Ahn Seho, Kim Minsoo, Choi Yoonju</i></sub>
      .row
        | Lookup <i>WEBDROID</i> license policy 
        a#license(href='/license')  here
      
              
