// common navigation bar is created by VODEK.
  home button, sign out and link for project main page, setting page.
  
nav.navbar.navbar-inverse
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        
      if context.get('islogin') == true
        ul.nav.navbar-nav   
          a.navbar-brand(href='/projectmain')
            span.glyphicon.glyphicon-home
          li.divider-vertical
          li
            a#a-projectmain(href='/projectmain') Project
          
          li
            a#a-setting(href='/setting') Settings

      else
        a.navbar-brand(href='/')
          span.glyphicon.glyphicon-home
        
        
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
    
      if context.get('islogin') == true
        ul.nav.navbar-nav.navbar-right          
          li
            a#a-signout(href='/signout') 
              span.glyphicon.glyphicon-log-out  
              &nbsp;Sign Out
      else
        ul.nav.navbar-nav.navbar-right
          
          li
            a.anonymous(href='/signin_original')
              span.glyphicon.glyphicon-user 
              &nbsp;Sign In 

      if context.get('isprojectview')
        ul.nav.navbar-nav.navbar-right
          if context.get('islogin')
            if context.get('isimportant')
              li
                a#favoratebtn(href="/favorate_projectlist/#{context.get('pid')}", isfav="true")
                  span.glyphicon.glyphicon-star
                  |  Bookmark
            else
              li
                a#favoratebtn(href="/favorate_projectlist/#{context.get('pid')}", isfav="false")
                  span.glyphicon.glyphicon-star-empty
                  |  Bookmark
          li
            a#playbtn
              span.glyphicon.glyphicon-play
              |  Run
          li
            a#download-file(href='/filedown/#{context.get("pid")}')
              span.glyphicon.glyphicon-download-alt 
              |  Download
              
          li.divider-vertical