//Commonheader is created by VODEK.
  higly used script, css etc.
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/bootstrap/css/landing-page.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
link(rel='stylesheet', href='/css/basic.css', type='text/css')
script(src='/js/web_base.js')
script(src='/js/messageCollection.en.js')