//device display is created by VODEK.
  page for running android code in project view page.
  
doctype html
head
  title VM Displayer
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(src='https://code.jquery.com/jquery-latest.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/device_displayer.css', type='text/css')
  link(rel='stylesheet', href='/css/three-quaters.css', type='text/css')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src='/js/android_keyCode_mapper.js')
  script
    var pid = "#{context.get('pid')}";
    var pname = "#{context.get('pname')}";
    $(document).ready(function (){
    makeDevice('#target');
    });
  script(src='/js/device_displayer.js')
  #target
body
