//license page is created by VODEK.
  more details about license what we used. 
  
html
  head  
    include commonheader
    link(rel='stylesheet', href='/css/license.css')
  body
    .container
      .row
        .col-xs-12
          #license
            h1.padding10
                  | <b>WEBDROID LICENSE</b>
            h4.main-container.b
              ul
                li.padding10
                  | WEBDROID is released by <i>VODEK</i>, created by
                  font(color='#E0E2E2') <sub><i>Kim Mingyu, Park Jehyun, Ahn Seho, Kim Minsoo, Choi Yoonju</i><sub>
                  
                li.padding10
                  | Background image is licensed under a 
                  a(rel='license', href='http://creativecommons.org/licenses/by/2.0/') Creative Commons Attribution 2.0 Generic License  

                li.padding10
                  | Filetree plugin is dual-licensed under the
                  a( href='http://opensource.org/licenses/gpl-3.0.html')  GNU GENERAL PUBLIC LICENSE 
                  | and the 
                  a( href='http://opensource.org/licenses/mit-license.php')  The MIT License (MIT),
                  |   is copyright 2008 A Beautiful Site, LLC.

                li.padding10
                  | Bootstrap's CSS and Javascript file is licensed under
                  a( href='http://opensource.org/licenses/mit-license.php')  The MIT License (MIT)
                  | and is copyright 2015Twitter,   documentation under
                  a( href='http://creativecommons.org/licenses/by/3.0/')  CC BY 3.0.

                li.padding10
                  | JQuery,SockJS is licensed under
                  a( href='http://opensource.org/licenses/mit-license.php')  The MIT License (MIT)

                li.padding10
                  | Apple base64 is licensed under
                  a( href='http://www.opensource.apple.com/license/apsl/')  APSL


                li.padding10
                  | Android x86 is an open source project licensed under Apache Public License 2.0
                  
                li.padding10
                  | CSS Spinner 
                  a( href='https://github.com/jlong/css-spinners/blob/master/LICENSE') CSS Spinner
                  | for run VM licensed under
                  a( href='http://opensource.org/licenses/mit-license.php')  The MIT License (MIT)
                  
                  
                  