//project view is created by VODEK.
  project view page is shown after client clicked project in projectmain page.
  this page will make file tree on the left side, show code on the center.
  there will be Favorite, Run, Download buttons, which will bookmark your project on project mainpage, runcode, downloade file
  
doctype html
head
  include commonheader
  title
    | #{context.get('projectname')} projects
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-modelist.js')
  script(src='/js/jquery.ui.all.js')
  script(src='/js/jquery.layout.js')
  script(src='/js/jqueryFileTree.js')
  script(src='/js/projectview.js')
  script(src='/js/chrometab.js')
  link(rel='stylesheet', href='/css/layout-default-latest.css', type='text/css')
  link(rel='stylesheet', href='/css/projectview.css', type='text/css')
  link(rel='stylesheet', href='/css/chrometab.css', type='text/css')
  link(rel='stylesheet', href='/css/jqueryFileTree.css', type='text/css')
body
  .ui-layout-north
    include commonnavbar
  .ui-layout-west
    .content
      // file tree column
      #projectTree.tree_wrap(rel=context.get('pid'))
  .ui-layout-center
    .content
      // code editor
      .row    
        ul.tabs
        .tab-content