//Password find page is created by VODEK.
  This page is for clients who forgot their password. 
  If e-mail address what client turn in matches, we will reset password and send new password to client's email.
  
doctype html
html
  head
    include commonheader
    link(rel='stylesheet', href='/css/basic.css', type='text/css')
    title find password
    script.
      $(document).ready(function () { 
        
        $('#txt-in-user-id').focusout(function(){
          requestAysnc('/idcheck', 'post', {'user_id ':$("#txt-in-user-id").val ()}, idSuccess, idFailed); 
        });
        
        function idSuccess(result) {
          if(result.result) {
            $('.msg_here').html(msgcolor('danger','This email address is not exited!'));
            $('#send').prop('disabled', true);
          }
          else{
            $('.msg_here').html('');
            $('#send').prop('disabled', false);
          }
        }

        function idFailed(result) {
        
          modalAlert(serverTitleTitle,serverERRmsg+"<br>"+ tryAgain, function(){});
        }  

        $('#frm-pwfind').submit(function() {
          return formRequest('#frm-pwfind', 
              function(data){
                if(data.result){                  
                  modalAlert(pwresetTitle, pwsetSCmsg+'<br>'+checkmailSCmg, function() {});
                }
                else{
                  modalAlert(pwresetTitle, pwsetERRmsg+'<br>' +check, function() {});
                  }
              },
              function(error){modalAlert(serverTitle, serverERRmsg +'<br>'+ tryAgain , function () {});}
          );
        });
      });

  body
    .container
      .row 
        .col-xs-12.jumbotron.text-center
          h3 Find password
          h5 We will send temporary password to your email <br> Please write your email address (your ID)
      .row
        form#frm-pwfind(action='/api/pwfind', method='post')
          .col-xs-6.col-xs-offset-3
            .form-group.padding15
              label.sr-only(for='txt-in-user-id') Email address
              input#txt-in-user-id.form-control.text-center.input-lg(type='email', name='user_id', placeholder='Email')
              
              .msg_here
              
          .col-xs-12.padding5
            .form-group.text-center
              input#send.login-btn.btn-lg.btn-default#pwfind(type='submit', value='SEND')
              
    include commonfooter