//Setting page is created by VODEK.
  Clients can update their github ID, change their password and unsubscribe their account.

doctype html

head    
  include commonheader
  script(src='/js/setting.js')
  title=context.get('name')+"'s Settings"
  link(rel='stylesheet', href='./css/settings.css', type='text/css')

include commonnavbar


.container
  #setting
    .row
      .col-xs-4.col-xs-offset-4.text-center
        .row
          #gitgit.col-xs-12
            h4
              | Update Github ID
        .blank_10
          hr
        .row
          #pwpw.col-xs-12
            h4
              | Change Password
        .blank_10
          hr
        .row
          #members.col-xs-12
            h4
              | Unsubscribe

 

include commonfooter