//signin_original is created by VODEK.
  This page is used when session is timed out so that client has to sign in again, or when client try run code without sign in.
  
doctype html

head  
  include commonheader
  title
    |signin page
  link(rel='stylesheet', href='./css/settings.css', href='./css/signin.css', type='text/css')
  script(src='/js/signin.js')
  

  

body
  .container
    .row
      #inputspace.col-sm-6.col-sm-offset-3
        .row
          .col-xs-12
            h3 SignIn
            h5 Enjoy WEBDROID after signin!
            hr
        .row
          .col-xs-12
            form#frm-signin(action='/signin', method='post')
              .form-group
                label.sr-only(for='txt-user-id') Email address
                input#txt-user-id.form-control.input-lg(type='email', name='user_id', knownname='email', maxlength='40', placeholder='Email', tabindex='1') 

              .form-group
                label.sr-only(for='txt-user-pw') Password
                input#txt-user-pw.form-control.input-lg(type='password', name='user_pw', knownname='password', maxlength='20', placeholder='Password', tabindex='2')

              .form-group
                .row
                  .col-xs-6.col-sm-6.col-md-6
                    label
                      input#chk-save-id(type='checkbox', name='save_id', style='vertical-align:top') 
                      | Remember ID
                  .col-xs-12.col-sm-6.col-md-6.text-right
                    a#a-pwfind(href='/pwfind') Forgot your pssword?
                    a#a-divide |
                    a#a-pwfind(href='/signup_original')  Sign up

              .form-group
                input.btn.btn-success.btn-block.btn-lg(type='submit', value='Sign In', tabindex='3')
                
                
                
  include commonfooter