//signup_original is created by VODEK.
  This page is for sign up through signin_original page. 
doctype html
 
head
  include commonheader
  title
    |signup page
  link(rel='stylesheet', href='./css/welcome.css', href='./css/signup.css', type='text/css')
  script(src='/js/jquery.bsFormAlerts.js')
  script(src='http://code.jquery.com/jquery-latest.min.js')
  script(src='/js/validetta.min.js')
  script(src='/js/signuptest.js')
      
    
.container
  .row
    #inputspace.col-xs-4.col-xs-offset-4
      h3 SignUp
      h5 After simple signup, enjoy WEBDROID!
      hr
      form#demo#frm-signup(action="/signup", method='post')
        .form-group        
          label.sr-only(for='txt-in-user-id') Email address
          input#txt-in-user-id.form-control.input-lg(type='email', name='user_id', placeholder='Email')
        
          .msg_here
      
        .form-group
          label.sr-only(for='txt-in-user-name') Name
          input#txt-in-user-name.form-control.input-lg(name='user_name', placeholder='Name')
        
        .pwcheck
          .form-group
            label.sr-only(for='txt-in-user-pw') Password
            input#txt-in-user-pw.form-control.input-lg(type='password', name='user_pw validation',maxlength='20', placeholder='Password')
          .form-group
            label.sr-only(for='txt-in-user-pw-re') Password repeat
            input#txt-in-user-pw-re.form-control.input-lg(type='password', name='user-pw-re validation',maxlength='20', placeholder='Password repeat')
        .form-group.col-md-4.col-md-offset-4
          input.login-btn.btn-lg.btn-success.padding5#signup_original(type='submit', value='Sign Up')
        
include commonfooter