//usermain is created by VODEK.
  This page is projectmain page. This page will show client's information and project list
  Client can update their profile introduction and bookmark his favorite project. Also client can delete the project.
doctype html
//usermain page 
head
  include commonheader
  title
    | #{context.get('name')} projects
  link(rel='stylesheet', href='css/projectmain.css', type='text/css')
  link(rel='stylesheet', href='http://css-spinners.com/css/spinner/inner-circles.css', type='text/css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js")
  script(src="/js/jquery.form.js")
  script(src='/js/profile.js')
  script(src='/js/projectlist.js')
  script(scr='/js/messageCollection.en.js')
  script(src='/js/uploader.js')
  script(src='/js/progressbar.js')
  script.
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });

include commonnavbar

// body
//show user image, name, id, git id, introduce
.container  
  .padding10
    .row
      .col-xs-12.col-sm-4
        span.glyphicon.glyphicon-user
        |  MY PROFILE 
        .profile-pic.padding5
          .row
            .col-xs-12
              #dv-proimg-wrap.text-center
                img#proimg.img-round.img-responsive(src="#{context.get('show_user_img')}", alt="#{context.get('name')}")
        br
        .row
            .col-xs-12
              span.glyphicon.glyphicon-menu-right
              | #{context.get('name')}
        br
        .row
            .col-xs-12
              span.glyphicon.glyphicon-menu-right
              | #{context.get('show_id')}
        br
        .row
            .col-xs-12
              span.glyphicon.glyphicon-menu-right
              | #{context.get('show_git_id')}
        br      
        .row
            .col-xs-12
              span.glyphicon.glyphicon-menu-right
              | #{context.get('show_introduce')}
          
           
            button.btn.btn-link(type='button', data-toggle='modal', data-target='#myprofile')
              span.glyphicon.glyphicon-pencil(aria-hidden='true')
              // Modal
            #myprofile.modal.fade
              .modal-dialog
                // Modal content
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Fill your profile
                  .modal-body
                    form#frm-update-introduce(action="/update_introduce", method='post')
                      .form-group
                        label.sr-only(for='txt-profile') Profile
                        textarea#comment.form-control(rows='5', name='introduce',maxlength='200')
                      .form-group.text-center
                        input.setting_btn.padding5(type='submit', value='Update')
                  // modalbody
                // modalcontent
              // modal dialog
            // modal fade
      //show MY FAVORITE projects and MY PROJECT projects      
      .col-xs-12.col-sm-8
        .padding5.row
          .col-xs-12
            .row
              .col-xs-12
                h2.section-title
                  span.glyphicon.glyphicon-star
                  |  MY FAVORITE
            .row
              .col-xs-12
                #dv-favorate.row
            .row
              .col-sm-8.col-md-8.col-lg-8
                h2.section-title
                  span.glyphicon.glyphicon-option-horizontal
                  |  MY PROJECT
              .col-sm-4.col-md-4.col-lg-4.text-right
                h2.section-title
                  
                  //fileupload modal
                  .btn-toolbar(role='toolbar', style='display:inline-block;')
                    a(data-toggle='tooltip', data-placement="top", title= "upload your compressed Android project (.zip)")
                      button.btn.btn-default.btn-lg(type='button', data-toggle='modal', data-target='#fileupModal')
                        span.glyphicon.glyphicon-plus(aria-hidden='true')
                        
                    #dv-uploadProgress.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadProgress')
                      .modal-dialog(role='document')
                        .modal-content
                          .modal-header
                            h4#myModalLabel.modal-title File upload
                          .modal-body
                            .row
                              #dv-progress-content.col-xs-12.text-center
                                .row
                                  .col-xs-12
                                    #dv-progress.progress
                                      .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width:0; min-width:2em;') 0%
                                #dv-res-msg.row
                                  .col-xs-12.h4.txt
                                  .blank-10
                                .row
                                  .col-xs-12
                                    button.btn.btn-primary.modal-close(type='button', data-dismiss='modal', disabled="disabled") Close  
                    // Modal
                    #fileupModal.modal.fade(role='dialog')
                      .modal-dialog
                        // Modal content
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h4.modal-title.text-left File upload
                          .modal-body
                            form#fileup(action='/fileup', method='post', enctype='multipart/form-data', name='fileup')                
                              .form-group
                                label.sr-only(for='txt-in-user-file') File
                                input#txt-in-user-file.form-control.input-lg(type='text', name='p_name', knownname='file',placeholder='File Name')
                              .form-group
                                label.sr-only(for='txt-in-user-fileup') File upload
                                input#txt-in-user-fileup.form-control.input-lg(type='file', name='file-up', knownname='File Upload', placeholder='Fileup')

                              .form-group
                                label.sr-only(for='txt-description') File Description                              
                                textarea#txt-in-user-des.form-control.input-lg(rows='4', cols='50',type="text", name='p_descript', knownname='File description', placeholder='File Description')


                              .form-group.modal-footer
                                .loading
                                input#upload.login-btn.btn-lg.btn-success.padding5(type='button', value='Upload')

            .row
              .col-xs-12
                #dv-projectlist.row
                
include commonfooter                
              
                
