// WEBDROID main page is created by VODEK.
  simple welcome message, signin , signup
  

doctype html
head
  include commonheader
  link(rel='stylesheet', href='./css/welcome.css', type='text/css')
  script(src='./js/signuptest.js')
  script(src='./js/messageCollection.en.js')
  script(src='./js/signin.js')
  
  title
    | Webdroid
body
    .padding15.hidden-xs
    .container.main-container
      .padding15
        .row
          .col-xs-12.col-sm-7.col-md-7
            .padding15
              .row
                h1 <b>Welcome to <i>WEBDROID</i> !</b>
              .row
                img(src='/images/sample.png', class='img-responsive', width='98%')
              .row                
                p
                  .h2 Run Your Android Source Code Online!
                  .text <b>Simple</b> uploading and <b>powerful</b> application testing without setting android development environment! <br>
                      | From beginner to skillful android developer, you can be a master with us.<br>
                      | Sign up and enjoy WEDROID anywhere, anytime with any web browser. <br>
                     
                      
                  
                    
          .col-xs-12.col-sm-5.col-md-5.vert-center
            .row
              form#frm-signin(action='/signin', method='post')
                .form-group
                  label.sr-only(for='txt-user-id')
                    | Email address
                  input#txt-user-id.form-control.input-lg(type='email', name='user_id', knownname='email', maxlength='30', placeholder='Email', tabindex='1')
                  
                .form-group
                  label.sr-only(for='txt-user-pw')
                    | Password
                  input#txt-user-pw.form-control.input-lg(type='password', name='user_pw', knownname='password', maxlength='20', placeholder='Password', tabindex='2')
                .form-group
                    input.btn.btn-success.btn-block.btn-lg(type='submit', value='Sign In', tabindex='3')
                .form-group
                    .col-xs-6.col-sm-6.col-md-6
                        label
                            input#chk-save-id(type='checkbox', name='save_id', style='vertical-align:top') 
                            | remember ID
                    .col-xs-6.col-sm-6.col-md-6.text-right
                        a#a-pwfind(href='/pwfind')  Forgot your password?
                    

            .blank10
              hr
            .row
              p 
                h4 Signup
              form#frm-signup(action='/signup', method='post')
                .form-group        
                  label.sr-only(for='txt-in-user-id') Email address
                  input#txt-in-user-id.form-control.input-lg(type='email', name='user_id', placeholder='Email')

                  .msg_here
                    
                .form-group
                  label.sr-only(for='txt-in-user-name') Name
                  input#txt-in-user-name.form-control.input-lg(name='user_name', placeholder='Name',knownname='name')
                .form-group
                  label.sr-only(for='txt-in-user-pw') Password
                  input#txt-in-user-pw.form-control.input-lg(type='password', name='user_pw', placeholder='Password',maxlength='20', knownname='password')
                .form-group
                  label.sr-only(for='txt-in-user-pw-re') Password repeat
                  input#txt-in-user-pw-re.form-control.input-lg(type='password', name='user-pw-re', placeholder='Password repeat', maxlength='20',knownname='password check')
                .form-group
                  input.btn.btn-success.btn-block.btn-lg(type='submit', value='Sign Up')


    include commonfooter
