
*.class
*.iml
relayserver/.idea/*.*
relayserver/.idea/compile.xml
Thumbs.db
relayserver/.vertx/

relayserver/src/main/java/org/webdroid/db/DBConnector.java

*.iml

relayserver/src/main/java/org/webdroid/db/DBConnector.java

relayserver/src/main/java/org/webdroid/db/DBConnector.java

relayserver/webdroid.iml
relayserver/target/classes/org/webdroid/server/ServerMain.class
