doctype html
html(ng-app='')
  head
    include commonheader
    title
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js')
    script(src='js/jqueryFileTree.js', type='text/javascript')
    link(rel='stylesheet', href='css/projectview.css', type='text/css')
    link(href='css/jqueryFileTree.css', rel='stylesheet', type='text/css', media='screen')
  body
    include commonnavbar
    .container-fluid
      .row
        #projectTree.col-xs-3.tree_wrap
          // file tree column
        .col-xs-9
          // code editor & logcat
          .row
            // code editor row
            #editor.col-xs-12
          .row
            // logcat row
            .col-xs-12.navbar.navbar-fixed-bottom
      script.
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/java");
        editor.setValue();
        function resizeBrowser() {
        return $('#editor').height($(window).height()/100*85)
        ,$('#projectTree').height($(window).height()/100*85);
        };
        $(window).resize(resizeBrowser);
        resizeBrowser();
        $(document).ready( function(){
        $('#projectTree').fileTree({ root: '/Users/Owner/Documents/webdroid_IDE/' }, function(file) {
        requestAysnc('/openfile','post',{filepath: file}, function(data) {
        editor.setValue(data);
        editor.gotoLine(1);
        }, function(){});
        });
        });
