doctype html
// 
head    
  include commonheader
  // script(type='text/javascript', src='http://www.technicalkeeda.com/js/javascripts/plugin/jquery.js')
  script(type='text/javascript', src='http://www.technicalkeeda.com/js/javascripts/plugin/jquery.validate.js')
  script(src='./js/settingtest2.js')
  title=context.get('name')+"'s Settings"

 
  link(rel='stylesheet', href='./css/settings.css', type='text/css')

include commonnavbar

script.
  $(document).ready(function(){
  
    var git_modal_option = {
      title:'GitHub 아이디 등록',
      form:{action:'/gitsubmit', method:'post', id:'frm-test', enctype:'multipart/form-data', 'success':frmsuccess, 'error': frmfailed},
      contents:[{ name:'git_id', 'placeholder':'아이디', 'id':'git_id', 'type':'email'}],
      buttons:[{'id':'gitsubmit', text:'등록하기', 'onclick':gitClick}]

    };
    

    var old_pw_modal_option={
      title:'비밀번호 변경',
      form:{action:'/old_pwsubmit', method:'post', id:'frm-test', enctype:'multipart/form-data', 'success':pw_frmsuccess, 'error': pw_frmfailed},
      contents:[{ name:'old_pw', 'placeholder':'이전 비밀번호', 'id':'old_pw', 'type':'password'}],
      buttons:[{'id':'old_pwsubmit', text:'비밀번호 확인'}]
    };
    
    
    var new_pw_modal_option={
      title:'새로운 비밀번호 등록',
      form:{action:'/new_pwsubmit', method:'post', id:'frm-test', enctype:'multipart/form-data', 'success':frmsuccess, 'error': frmfailed},
      contents:[{ name:'new_pw', 'placeholder':'새로운 비밀번호', 'id':'new_pw', 'type':'password'},
                { name:'new_pw_confirm', 'placeholder':'비밀번호 확인', 'id':'new_pw_confrim', 'type':'password'}],
      buttons:[{'id':'pwsubmit', text:'변경하기', 'onclick':new_pwClick}]
      };
      

    var member_modal_option={
      title:'회원을 탈퇴하시겠습니까? ',
      form:{action:'/unsubscribe', method:'post', id:'frm-test', enctype:'multipart/form-data', 'success':member_frmsuccess, 'error': pw_frmfailed},
      contents:[{ name:'check_pw', 'placeholder':'비밀번호 입력', 'id':'check_pw', 'type':'password'}],
      buttons:[{'id':'membersubmit', text:'탈퇴하기'}]
    };
    
    function member_frmsuccess(result) {
      alert("dd");
      function memberClick(e) {
        modalConfirm('탈퇴하기', '정말 탈퇴하시겠습니까',function(e) {
        requestAysnc('/final_unsubscribe', 'get', null, function(e){modalAlert('탈퇴하기', '탈퇴되었습니다',function() {alert('성공쓰');});}, failed);},             function() {alert('cancel');});
      }
      memberClick();
      
    }
   
    $("#gitgit").common_modal_box(git_modal_option);
    $("#pwpw").common_modal_box(old_pw_modal_option);
    $("#members").common_modal_box(member_modal_option);
    
    function pw_frmsuccess(result) {
      alert("dd");
      $("#old_pwsubmit").common_modal_box(new_pw_modal_option);
    }
    
    function pw_frmfailed(error){
      modalAlert('실패', error.status+' '+error.statusText);
    }
    
    function frmsuccess(result) {
      location.reload();
      //modalAlert('성공', result);
    }
    
    function frmfailed(error) {
    // error 내용 {readyState: 4, responseText: "Cannot POST /test.html", status: 404, statusText: "Not Found"}
      modalAlert('실패', error.status+' '+error.statusText);
    }
    function gitClick(e) {
      modalAlert('GitHub 아이디 등록', '등록되었습니다',function() {alert('성공쓰');});
    }
    
    function new_pwClick(e) {
      modalAlert('비밀번호 변경', '변경되었습니다',function() {alert('성공쓰');});
    }
    
    });

#outside.container-setting
  .container
    #gitgit.padding20
      a.setting-text(data-toggle='modal')
        span.glyphicon.glyphicon-menu-right
        |  Github ID  등록
  .blank_10
    hr
  .container
    #pwpw.padding20
      // Trigger the modal with a button
      a.setting-text(data-toggle='modal')
        span.glyphicon.glyphicon-menu-right
        |  비밀번호 변경
  .blank_10
    hr
  .container
    #members.padding20
      // Trigger the modal with a button
      a.setting-text(data-toggle='modal', data-target='#unsubscribe-modal-1')
        span.glyphicon.glyphicon-menu-right
        |  회원 탈퇴

