doctype html

head    
  include commonheader
  script(type='text/javascript', src='http://www.technicalkeeda.com/js/javascripts/plugin/jquery.validate.js')
  script(src='./js/setting.js')
  title=context.get('name')+"'s Settings"
  link(rel='stylesheet', href='./css/settings.css', type='text/css')

include commonnavbar
  
#outside.container-setting
  .container
    #gitgit.padding20
      a.setting-text(data-toggle='modal')
        span.glyphicon.glyphicon-menu-right
        |  Github ID  등록
  .blank_10
    hr
  .container
    #pwpw.padding20
      // Trigger the modal with a button
      a.setting-text(data-toggle='modal')
        span.glyphicon.glyphicon-menu-right
        |  비밀번호 변경
  .blank_10
    hr
  .container
    #members.padding20
      // Trigger the modal with a button
      a.setting-text(data-toggle='modal', data-target='#unsubscribe-modal-1')
        span.glyphicon.glyphicon-menu-right
        |  회원 탈퇴

