doctype html

head  
  include commonheader
  link(rel='stylesheet', href='./css/settings.css', type='text/css')
  script(src='./js/signin.js')
  

  

body
  .div
    .col-md-4.col-md-offset-4
      .row
        h3 SignIn
        h5 Enjoy WEBDROID after signin!
        hr
        form#frm-signin(action='/signin', method='post')
          .form-group
            label.sr-only(for='txt-user-id') Email address
            input#txt-user-id.form-control.input-lg(type='email', name='user_id', knownname='email', maxlength='40', placeholder='Email', tabindex='1') 

          .form-group
            label.sr-only(for='txt-user-pw') Password
            input#txt-user-pw.form-control.input-lg(type='password', name='user_pw', knownname='password', maxlength='20', placeholder='Password', tabindex='2')

          .form-group
            .col-xs-6.col-sm-6.col-md-6
              label
                input#chk-save-id(type='checkbox', name='save_id', style='vertical-align:top') 
                | remember ID
            .col-xs-6.col-sm-6.col-md-6.text-right
              a#a-pwfind(href='/pwfind') Find password | 
              a#a-pwfind(href='/signup_original')  Sign up

          .form-group
            input.btn.btn-success.btn-block.btn-lg(type='submit', value='Sign In', tabindex='3')