doctype html
// 
head
  include commonheader
script.
    $(document).ready(function () {
      var isSavedId = getCookie('saveId');
      var savedId  = getCookie('id');
      if(isSavedId) {
          $('#chk-save-id').attr('checked', true);
          $('#txt-user-id').val(savedId);
      }
    
    $('#frm-signin').submit(function (e) {
    //alert();
      if($('#chk-save-id').is(':checked')) {
          setCookie('saveId', 'true', 10000000);
          setCookie('id', $('#txt-user-id').val(), 10000000);
      }
    return formRequest(this, onReqSuccess, onReqFailed);
    });
    });
    function onReqSuccess(data) {
    if(data.result) {
    //modalAlert('success');
    location.replace('/projectmain');
    } else {
    modalAlert("로그인 실패", data.message);
    }
    }
    function onReqFailed(data) {
    var res = $.parseJSON(data.responseText);
    modalAlert('요청 실패', res.message);
    }
    
include commonnavbar
// body
.col-md-4.col-md-offset-4
  .row
    h3 로그인
    h5 로그인 후 , 웹드로이드를 즐겨보세요!
    form#frm-signin(action='/signin', method='post')
      .form-group
        label.sr-only(for='txt-user-id') Email address
        input#txt-user-id.form-control.input-lg(type='email', name='user_id', knownname='이메일', maxlength='30', placeholder='Email', tabindex='1') 
 
      .form-group
        label.sr-only(for='txt-user-pw') Password
        input#txt-user-pw.form-control.input-lg(type='password', name='user_pw', knownname='비밀번호', maxlength='30', placeholder='Password', tabindex='2')
  
      .form-group
          .col-xs-6.col-sm-6.col-md-6
              label
                  input#chk-save-id(type='checkbox', name='save_id', style='vertical-align:top') 
                  | ID 저장
          .col-xs-6.col-sm-6.col-md-6.text-right
              a#a-pwfind(href='/pwfind') 비밀번호 찾기 | 
              a#a-pwfind(href='/signup_original')  회원가입
      
      .form-group
          input.btn.btn-success.btn-block.btn-lg(type='submit', value='로그인', tabindex='3')