doctype html
// 
head
  include commonheader
  link(rel='stylesheet', href='./css/welcome.css', type='text/css')
  script(src='./js/signuptest.js')
      
    
include commonnavbar 
.row
  .col-md-4.col-md-offset-4
    h3 가입하기
    h5 간단한 회원가입 후 , 웹드로이드를 즐겨보세요!
    hr
    form#frm-signup(action="/signup", method='post')
      .form-group
        .input-group
          label.sr-only(for='txt-in-user-id') Email address
          input#txt-in-user-id.form-control.input-lg(type='email', name='user_id', placeholder='Email')
          .input-group-addon
            button#idcheck(type='button')
              span.glyphicon.glyphicon-ok(aria-hidden='true', data-toggle='tooltip', title='ID 중복확인')
    
      .form-group
        label.sr-only(for='txt-in-user-name') Name
        input#txt-in-user-name.form-control.input-lg(name='user_name', placeholder='이름')
      
      .pwcheck
        .form-group
          label.sr-only(for='txt-in-user-pw') Password
          input#txt-in-user-pw.form-control.input-lg(type='password', name='user_pw', placeholder='Password')
        .form-group
          label.sr-only(for='txt-in-user-pw-re') Password repeat
          input#txt-in-user-pw-re.form-control.input-lg(type='password', name='user-pw-re', placeholder='Password repeat')
      .form-group.col-md-4.col-md-offset-4
        input.login-btn.btn-lg.btn-default.padding5#signup_original(type='submit', value='Sign Up')